@model IEnumerable<DBModels.AppModels.LowCase>

@{
    ViewData["Title"] = "Index";
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
    int count = 1;
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <div class="d-flex align-items-center">
                        <p class="mb-0">@localizer["Index"]</p>
                        <a asp-action="Create" type="button" class="btn btn-@AppConstants.buttonClass btn-sm @(isRTL ? "me-sm-auto" : "ms-auto")">@localizer["Create"]</a>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        #
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        @Html.DisplayNameFor(model => model.Case)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        @Html.DisplayNameFor(model => model.StartDate)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        @Html.DisplayNameFor(model => model.EndDate)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        @Html.DisplayNameFor(model => model.Claimant)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        @Html.DisplayNameFor(model => model.Lowyer)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        @Html.DisplayNameFor(model => model.CaseDoc)
                                    </th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <p class="text-xs text-secondary mb-0">@(count++)</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@Html.DisplayFor(modelItem => item.Case)</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@Html.DisplayFor(modelItem => item.StartDate)</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@Html.DisplayFor(modelItem => item.EndDate)</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@Html.DisplayFor(modelItem => item.Claimant.Name)</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@Html.DisplayFor(modelItem => item.Lowyer.Name)</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@Html.DisplayFor(modelItem => item.CaseDoc)</p>
                                        </td>
                                        <td>
                                            <a asp-action="Edit" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user" asp-route-id="@item.ID">@localizer["Edit"]</a> |
                                            <a asp-action="Details" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user" asp-route-id="@item.ID">@localizer["Details"]</a> |
                                            <a asp-action="Delete" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user" asp-route-id="@item.ID">@localizer["Delete"]</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
